#top
{
  background-image: url("assets/city.jpg");
  background-position: center;
    background-size: cover;
    height: 2115px;
    width: 100%;
}

#logo{
    height: 100px;
    width: 100%;
    text-align: center;
    background: transparent;
    margin: 0;
    padding: 0px;
background-size: cover;
}

#logoImage{
    height: 100%;
    margin: 0;
    float: left; 
}

#nav
{
  background: transparent; 
   /* background-image: url("assets/city.jpg"); */
   background-position: center;
   background-size: cover;
  text-align: center;
  height: 1000px;
   width: 100%;
  padding: 0;
  margin:0;
  /* border: 2px solid red; */
}

#nav h1
{
  font-size: 50px;  
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: lavender;
  text-shadow: black 3px 3px;
}

.scholarship {
  background-color: rgba(255, 255, 255, .5);
  height: 140px;
  padding: 20px;
  color: black;
  margin: 10px;
}

/* #nav h2
{
  font-size: 40px;  
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: lavender;
  text-shadow: black 5px 5px;
}

#nav h3
{
  font-size: 30px;  
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: lavender;
  text-shadow: black 5px 5px; */


#nav2 h1
{
  font-size: 50px;  
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: lavender;
  text-shadow: black 3px 3px;
}

#nav2 h2
{
  font-size: 35px;  
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: lavender;
  text-shadow: black 3px 3px;
    max-width: 800px;
  margin: auto;
}

#nav2
{
  background-image: url("assets/ck.jpg");
  background-size: cover;
  height: 850px;
  width: 100%;
  text-align: center;
}

.h2{
  font-size: 50px;  
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: lavender;
  text-shadow: black 3px 3px;
}

#scholarships
{
  width: 100%;
  font-weight: bold; 
  font-size: 17px;
  margin: 0 auto;
}

.scholarship-list{
    max-width: 800px;
  margin: auto;
  
}

/* .about p {
  max-width: 800px;
  margin: auto;
  color: white;
} */

.button{
  color: white;
  background: black;
  margin-top: 30px;
}

/*Added Popup Button CSS  */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.navbar-inner {
    background-color:transparent;
}

/* container {
  width: 100;
  height: 2000px;
  font-family: 'Trebuchet Ms';
} */

.bg {
  background: black;
  width: 100%;
  height: 78px;
  opacity: 0;
}

.show {
  opacity: 0.4;
}

.transition {    
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.fixed {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

ul {
  height: 200px;
  margin: -70px auto 0 auto;
  width: 500px;
}

li {
  color: white;
    float: left; 
  list-style: none;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
br {
   display: block;
   margin: 10px;
}

#img1{
  height: 290px;
  width: 300px;
  margin: auto;
}
#img2{
  height: 290px;
  width: 300px;
  margin: right;
}

#img3{
  height: 290px;
  width: 300px;
  margin: auto;
}
#img4{
  height: 290px;
  width: 300px;
  margin: right;
}

#signIn{
  font-size: 30px;
  color:black;
  font-weight: bold;
  /* text-shadow: white 1  px 1px; */
  text-align: center;
}

#h41,#h42{
  font-size: 30px;
  color:white;
  text-shadow: black 2px 2px;
  text-align: center;
    font-weight: bold;
}

#second{
   background-color: rgba(255, 255, 255, .5);
  height: 35px;
  /* padding: 20px; */
  color: black;
  margin: 10px;
}

#schoAE{
font-weight: bold;
font-size: 20px;
}

#schoAE2{
  font-weight: bold;
  font-size: 20px;
  }

